@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
/* font-family: "Open Sans", sans-serif;
font-family: "Raleway", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-y: scroll;
  overflow-x: hidden;
}

nav a{
  margin-left: 15px;

}
nav a:hover{
  text-decoration: underline;
  opacity: 75%;

}
nav{
  margin-right: 50px;
}
header {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 100px;
}
.title{
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: hsl(243, 87%, 12%);
}
section{
  display: flex;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 75px;
}
.left{
  width: 650px;
  margin-right: 100px;
}
.title{
  margin-bottom: 20px;
  line-height: 45px;

}

.paragraph{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;

}
.main{
  height: 540px;
  display: flex;
  margin-top: 225px;
  background-color:#F9F8FE ;
  position: relative;
  
  
}
.bg-curve-desktop{
position: absolute;
top: -114px;

}

.left input{
  margin-right: 10px;
  padding-right: 50px;
  padding-left: 15px;
  width: 335px;
  height: 40px;
}

input:focus::placeholder {
  color: transparent;
}

.left button{
  font-family:"Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 15px;
  width: 175px;
  height: 40px;
  color: white;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 5px;
}
.left button:hover{
  cursor: pointer;
  opacity: 75%;
}
.right img{
  width: 500px;
}
.main-title{
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: hsl(243, 87%, 12%);
  margin-bottom: 25px;
}
.main-paragraph{
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 15px;
}
.link{
  margin-bottom: 25px;
}
.main-left{
  margin-left: 50px;
}

.main-left a{
  color: hsl(170, 45%, 43%);
  
}
.main-right img{
  width: 500px;
}
.review-card{
  margin-top: 50px;
  padding: 25px;
  width: 400px;
  height: 230px;
  color: hsl(0, 0%, 57%);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.082);
}
.quote{
  width: 15px;
  margin-bottom: 15px;
}
.review-paragraph{
line-height: 22px;
font-weight: 400;

}
.reviewer-info{
  display: flex;
  flex-direction: row;
  margin-top: 12px;

}

.reviewer-pic img{
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}

.reviewer-name{
  font-family:"Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
  font-weight: 700;
  font-size: 12px;
}
.reviewer-title{
  font-size: 8px;
}

.get-access{
  display: flex;
  justify-content: space-between;
  padding: 75px 50px;
  
  background-color: #575989;
  color: hsl(240, 75%, 98%);
}
.get-access-title{
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;

}
.get-access-paragraph{
  font-size: 14px;
  color: hsl(0, 0%, 75%);
  font-weight: 400;
  line-height: 22px;

}

.get-access-right{
display: flex;
flex-direction: column;
margin-right: 50px;
}

.get-access-right input{
  width: 430px;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}
.get-started {
  font-family:"Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 15px;
  width: 175px;
  height: 40px;
  color: white;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 5px;
}

.get-started:hover{
  cursor: pointer;
  opacity: 75%;
}
.header-get-started:hover{
  cursor: pointer;
  opacity: 75%;
}
footer{
  padding: 100px 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsl(243, 87%, 12%);
  color: white;
}

.phone{
  margin-bottom: 15px;
}

.footer-left img{
  margin-bottom: 10px;
  filter: brightness(0) invert(1);
}
.phone img{
  vertical-align: middle;
  margin: 0;
}

.email img{
  vertical-align: middle;
  margin: 0;
}

.footer-left span{
  margin-right: 15px;
}

.middle{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 220px;
  font-size: 14;
  text-decoration: none;
  color: white;
}
a:link {
  text-decoration: none;
}

 footer a:link {
  color: hsl(0, 0%, 75%);
}

header a:link {
  font-family:"Raleway", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 51%);
}
.footer-right{
  display: flex;
  margin-right: 50px;
  margin-top: 50px;
  filter: brightness(0) invert(0.75);
}
header img:hover{
  cursor: pointer;

}

 .twitter,.instagram{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid black ;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.facebook{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid black ;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 100%;
}
.facebook:hover{
  cursor: pointer;
  scale: 110%;
  opacity: 75%;
}
.twitter:hover{
  cursor: pointer;
  scale: 110%;
  opacity: 75%;
}

.instagram:hover{
  cursor: pointer;
  scale: 110%;
  opacity: 75%;
}
}